@import "mixins";
@import "typography";
@import "variables";

.container {
    max-width: calc(1600px + 60px);
    margin: 0 auto;
    padding: 0 30px;

    @include breakpoint("md-max") {
        padding: 0 20px;
    }
}
